@font-face {
    font-family: 'Libre Franklin script=all rev=1';
    font-weight: 100;
    src: url(https://fonts.gstatic.com/l/font?kit=jizGREVItHgc8qDIbSTKq4XkRiUa4_oyq1v7AtqBx6SXI9XqT8p1_PWoWyLRocujo2w6XE7kHaSumunNbcLS6ujjWUsFAhTXtR2Fx8z4tlsn62BaRrr3e7kTWH7QV5dKMTHhkNu3XaTXOAvPc_ZWlNtnGBSjEBNF-0TwN0vXF2jM8T8tecpmzO_zWpUMtqQd_asJz0aidYXDahoLZ1TT6VAYqt_jYd8&skey=6c65792cc3381596&v=v2) format('woff2');
}

.row {
    margin: 0;
}

.hr-full-width {
    margin: 0;
    border: 0 2px 0 0 rgba(224,224,224,0.50);
}

img {
    background-color:#d8d8d8;
}
    
h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: 030303;
    letter-spacing: 0;
    text-align: center;
    width: 287px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    font-weight: 400; 
    font-style: normal;
    font-size: 14px;
    color: #1f1f1f;
    letter-spacing: 0;
    text-align: center;
    margin-top: 30px;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
}

h1.title {
    font-size: 26px;
    color: #030303;
    text-transform: capitalize;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.navbar.bg-light {
    background-color: #fff !important;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.navbar .navbar-nav.navbar-nav-smallest {
    display: block;
}

.navbar .navbar-nav.navbar-nav-biggest {
    display: none;
}

.navbar .navbar-toggler {
    outline: 0;
    border: 0;
    padding: 0;
}

.navbar .navbar-toggler-icon {
    background-image: url("img/hamburger_menu_icon.svg");
    height: 12px;
    width: 18px;
    border: 0;
    outline: 0;
}

.navbar .navbar-brand {
    display: inline-block;
    font-size: 15px;
    line-height: inherit;
    white-space: nowrap;
    color: #1f1f1f;
    letter-spacing: 2.1px;
    font-weight: 700;
    font-style: normal;
}

.navbar .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 0;
    font-size: 14px;
    color: #1f1f1f;
    letter-spacing: -0.09px;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
}

.navbar-nav .nav-link:hover {
    color: #1f1f1f;
}

.navbar-nav .nav-item:lastlast-child .nav-link {
    padding-right: 0;
}

.navbar .navbar-nav .nav-link.disabled {
    text-decoration: none;
}

.navbar .navbar-nav.navbar-nav-biggest .nav-item.language {
    margin-left: 40px;
    width: 50px;
    padding: 0;
}

.navbar .navbar-nav.navbar-nav-biggest .nav-item.language a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #1f1f1f;
    letter-spacing: -0.4px;
}

.navbar .navbar-nav.navbar-nav-biggest .nav-item.sitemap {
    background-image: url("img/map_icon.svg");
    width: 20px;
    height: 20px;
}

.navbar .navbar-nav.navbar-nav-smallest .nav-item a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.navbar .navbar-nav.navbar-nav-smallest .dropdown-menu {
    border: 0;
    padding-left: 1rem;
}

.navbar .navbar-nav.navbar-nav-biggest .dropdown-menu {
    min-width: 0;
    padding: 0.5rem;
}

.showmore {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
    width: 100%;

    text-decoration: underline;
    color: #0030ff;
}

#gallery {
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

#gallery .painting-container {
    /* width: 280px; */
    background-color: #fff;
    margin-left: 0;
    margin-bottom: 40px;
    float: left;
}

#gallery .painting-container .row {
    padding: 0;
    margin: 0;
}

#gallery .painting-container .row .painting-container-img {
    padding: 0;
    margin: 0;
    height: 100%;
    object-fit: cover;
}

#gallery .painting-container .row .painting-container-title {
    font-weight: 600; 
    font-style: normal;
    font-size: 14px;
    color: #1f1f1f;
    letter-spacing: 0;
    line-height: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

#gallery .painting-container .row .painting-container-year {
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    color: #1f1f1f;
    letter-spacing: 0;
    line-height: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

#biography {
    margin: 0;
    padding: 0;
}

#biography .biography-container {
    padding-left: 20px;
    padding-right: 20px;
}

#biography .biography-container .biography-container-img {        
    width: 100%;
    height: auto;
    color: #666666;

    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#biography .biography-container .biography-container-desc {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0.3px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;

    margin-left: auto;
    margin-right: auto;
}

#biography .biography-container .biography-container-desc a.readmore {
    position: absolute;
    bottom: -20px;
    
    font-size: 20px;
    color:#0030ff;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

#news {
    margin: 0;
    padding: 0;
}

#news .news-containers {
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

#news .news-containers .news-container {
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}

#news .news-containers .news-container .news-container-left {
    margin-right: 19px;
}

#news .news-containers .news-container .news-container-right {
    display: none;
}

#news .news-containers .news-container .news-container-left .news-container-left-title {
    font-size: 22px;
    color: #1f1f1f;
    letter-spacing: 0;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 8px;
}

#news .news-containers .news-container .news-container-left .news-container-left-desc {
    font-size: 14px;
    color: #666;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: 18px;
}

#news .news-containers .news-container .news-container-left .news-container-left-date {
    font-size: 14px;
    color: #666;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: 18px;

    margin-top: 18px;
}

#littleones {
    margin: 0;
    padding: 0;
}

#littleones .littleones-container {
    padding-left: 20px;
    padding-right: 20px;
}

#littleones .littleones-container .littleones-container-img {        
    width: 100%;
    height: auto;
    color: #666666;

    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#littleones .littleones-container .littleones-container-desc {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0.3px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;

    margin-left: auto;
    margin-right: auto;
}

#littleones .littleones-container .littleones-container-desc a.readmore {
    position: absolute;
    bottom: -20px;
    
    font-size: 20px;
    color:#0030ff;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

#witnesses {
    margin: 0;
    padding: 0;
}

#witnesses .witnesses-container {
    padding-left: 20px;
    padding-right: 20px;
}

#witnesses .witnesses-container .witnesses-container-img {
    width: 100%;
    height: auto;
    color: #666666;

    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#witnesses .witnesses-container .witnesses-container-desc {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0.3px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;

    margin-left: auto;
    margin-right: auto;
}

#witnesses .witnesses-container .witnesses-container-desc a.readmore {
    position: absolute;
    bottom: -20px;

    font-size: 20px;
    color:#0030ff;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

#footer {
    background-color: #000;
    font-size: 15px;
    color: #fafafa;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    margin-top: 100px;
    padding: 0px;
}

#footer .footer-container {
    padding: 0;
}

#footer .footer-content {

}

#footer .footer-content .footer-content-title {
    font-size: 15px;
    letter-spacing: 2.1px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer .footer-content .footer-content-sections {
    display: none;
}

#footer .footer-content .footer-content-timetables {
    display: none;
}

#footer .footer-content-bottom {
    display: none;
}

@media (min-width: 576px) {
    #gallery .painting-container {
        width: calc(50% - 10px);
        background-color: #fff;
        margin-left: 0;
        padding-right: 0px;
        margin-bottom: 40px;
        float: left;
    }

    #gallery .gutter-sizer {
        width: 20px;
    }

    #gallery .painting-container .row .painting-container-img {
        padding: 0;
        margin: 0;
        height: 100%;
        object-fit: cover;
    }
}

/* @media (min-width: 576px) {

    h1 {
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
        color: 030303;
        letter-spacing: 0;
        text-align: center;
        margin-top: 60px;
        width: 672px;
        margin-right: auto;
        margin-left: auto;
    }

    h2 {
        font-weight: 400; 
        font-style: normal;
        font-size: 34px;
        color: #1f1f1f;
        letter-spacing: 0;
        text-align: center;
        margin-top: 60px;
        width: 641px;
        margin-right: auto;
        margin-left: auto;
    }

    h1.title {
        font-size: 40px;
        color: #030303;
        text-transform: capitalize;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 60px;
    }

    .container {
        max-width: 768px;
    }

    .navbar {
        max-width: 1440px;
        height: 80px;
        padding-left: 34px;
        padding-right: 34px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar .navbar-nav.navbar-nav-smallest {
        display: none;
    }

    .navbar .navbar-nav.navbar-nav-biggest {
        display: block;
    }

    .row {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    #gallery {
        padding: 0;
        margin-left: 34px;
        margin-right: 34px;
    }

    #gallery .painting-container {
        width: 220px;
        background-color:#fff;
        margin-left: 0;
        margin-bottom: 40px;
        float: left;
    }

    #gallery .painting-container .row {
        padding: 0;
        margin: 0;
    }

    #gallery .painting-container .row .painting-container-img {
        padding: 0;
        margin: 0;
        background-color:#d8d8d8;
    }

    #gallery .painting-container .row .painting-container-title {
        font-weight: 600; 
        font-style: normal;
        font-size: 14px;
        color: #1f1f1f;
        letter-spacing: 0;
        line-height: 15px;
        height: 15px;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    #gallery .painting-container .row .painting-container-year {
        font-weight: 400;
        font-style: italic;
        font-size: 14px;
        color: #1f1f1f;
        letter-spacing: 0;
        line-height: 15px;
        height: 15px;
        padding: 0;
        margin: 0;
        margin-top: 5px;
    }

    #footer {
        background-color: #000;
        font-size: 15px;
        color: #fafafa;
        letter-spacing: 0;
        line-height: 22px;
        font-weight: 400;
        font-style: normal;
        margin-top: 200px;
        padding: 0px;
    }

    #footer .footer-container {
        padding: 0;
    }

    #footer .footer-content {

    }

    #footer .footer-content .footer-content-title {
        margin: 0;
        padding: 0;
        font-size: 15px;
        letter-spacing: 2.1px;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #footer .footer-content .footer-content-sections {
        display: none;
    }

    #footer .footer-content .footer-content-timetables {
        display: none;
    }

    #footer .footer-content-bottom {
        display: none;
    }

} */

@media (min-width: 768px) {

    h1 {
        font-weight: 700;
        font-style: normal;
        font-size: 70px;
        color: #030303;
        letter-spacing: 0;
        text-align: center;
        line-height: 78px;
        margin-top: 140px;
        width: 672px;
        margin-right: auto;
        margin-left: auto;
    }

    h2 {
        font-weight: 400; 
        font-style: normal;
        font-size: 34px;
        color: #1f1f1f;
        letter-spacing: 0;
        text-align: center;
        margin-top: 60px;
        width: 641px;
        margin-right: auto;
        margin-left: auto;
    }

    h1.title {
        font-size: 40px;
        color: #030303;
        text-transform: capitalize;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 60px;
    }

    .container {
        max-width: 1440px;
    }

    .navbar {
        padding-left: 34px;
        padding-right: 34px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .navbar .navbar-nav.navbar-nav-smallest {
        display: block;
    }

    .navbar .navbar-nav.navbar-nav-biggest {
        display: none;
    }

    .row {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    #gallery {
        padding: 0;
        margin-left: 34px;
        margin-right: 34px;
    }

    #gallery .painting-container {
        width: calc(33.3% - 13.3px);
        background-color: #fff;
        margin-left: 0;
        padding-right: 0px;
        margin-bottom: 40px;
        float: left;
    }

    #gallery .gutter-sizer {
        width: 20px;
    }

    #gallery .painting-container .row {
        padding: 0;
        margin: 0;
    }

    #gallery .painting-container .row .painting-container-img {
        padding: 0;
        margin: 0;
        height: 100%;
        object-fit: cover;
    }

    #gallery .painting-container .row .painting-container-title {
        font-weight: 600; 
        font-style: normal;
        font-size: 14px;
        color: #1f1f1f;
        letter-spacing: 0;
        line-height: 15px;
        height: 15px;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    #gallery .painting-container .row .painting-container-year {
        font-weight: 400;
        font-style: italic;
        font-size: 14px;
        color: #1f1f1f;
        letter-spacing: 0;
        line-height: 15px;
        height: 15px;
        padding: 0;
        margin: 0;
        margin-top: 5px;
    }

    .showmore {
        margin-top: 20px;
    }

    #biography {
        margin: 0;
        padding: 0;
    }

    #biography .biography-container {
        padding-left: 34px;
        padding-right: 34px;
    }

    #biography .biography-container .biography-container-img {        
        float: left; 
        width: 340px; 
        height: 210px; 
        margin-right: 20px; 
        margin-bottom: 0px;
        color: #666666;
    }

    #biography .biography-container .biography-container-desc {
        font-size: 14px;
        color: #666666;
        letter-spacing: 0.3px;
        line-height: 18px;
        font-weight: 400;
        font-style: normal;

        width: 700px; 
        margin-left: auto;
        margin-right: auto;
    }

    #biography .biography-container .biography-container-desc a.readmore {
        position: absolute;
        bottom: 0px;

        font-size: 20px;
        color:#0030ff;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
    }

    #news {
        margin: 0;
        padding: 0;
    }

    #news .news-containers {
        margin-bottom: 60px;
    }

    #news .news-containers .news-container {
        width: 620px;
        height: 140px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #news .news-containers .news-container .news-container-left {
        float: left;
        width: 461px;
        margin-right: 19px;
    }

    #news .news-containers .news-container .news-container-right {
        display: block;
        float: left;
        width: 140px;
        height: 140px;
        background-color:#d8d8d8;
    }

    #news .news-containers .news-container .news-container-left .news-container-left-title {
        font-size: 22px;
        color: #1f1f1f;
        letter-spacing: 0;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 8px;
    }

    #news .news-containers .news-container .news-container-left .news-container-left-desc {
        font-size: 14px;
        color: #666;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.3px;
        line-height: 18px;
    }

    #news .news-containers .news-container .news-container-left .news-container-left-date {
        font-size: 14px;
        color: #666;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.3px;
        line-height: 18px;

        position: absolute;
        bottom: 0px;
    }

    #littleones {
        margin: 0;
        padding: 0;
    }

    #littleones .littleones-container {
        padding-left: 34px;
        padding-right: 34px;
    }

    #littleones .littleones-container .littleones-container-img {        
        float: right; 
        width: 340px; 
        height: 210px;
        margin-left: 20px; 
        margin-bottom: 0px;
        color: #666666;
    }

    #littleones .littleones-container .littleones-container-desc {
        font-size: 14px;
        color: #666666;
        letter-spacing: 0.3px;
        line-height: 18px;
        font-weight: 400;
        font-style: normal;

        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    #littleones .littleones-container .littleones-container-desc a.readmore {
        position: absolute;
        bottom: 0px;

        font-size: 20px;
        color:#0030ff;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
    }

    #witnesses {
        margin: 0;
        padding: 0;
    }

    #witnesses .witnesses-container {
        padding-left: 34px;
        padding-right: 34px;
    }

    #witnesses .witnesses-container .witnesses-container-img {        
        float: left; 
        width: 340px; 
        height: 210px;
        margin-right: 20px; 
        margin-bottom: 0px;
        color: #666666;
    }

    #witnesses .witnesses-container .witnesses-container-desc {
        font-size: 14px;
        color: #666666;
        letter-spacing: 0.3px;
        line-height: 18px;
        font-weight: 400;
        font-style: normal;

        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    #witnesses .witnesses-container .witnesses-container-desc a.readmore {
        position: absolute;
        bottom: 0px;

        font-size: 20px;
        color:#0030ff;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
    }

    #footer {
        background-color: #000;
        height: 375px;
        font-size: 16px;
        color: #fafafa;
        letter-spacing: 0;
        line-height: 22px;
        font-weight: 400;
        font-style: normal;
        margin-top: 200px;
        padding: 0px;
    }

    #footer .footer-container {
        padding: 0;
    }

    #footer .footer-content {
        max-width: 1440px;
        padding-left: 34px;
        padding-right: 34px;
        padding-top: 60px;
        margin-left: 0;
        margin-right: 0;
    }

    #footer .footer-content ul li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px;
    }

    #footer .footer-content ul li a:hover {
        text-decoration: underline;
    }

    #footer .footer-content .footer-content-title {
        margin: 0;
        padding: 0;
        font-size: 15px;
        letter-spacing: 2.1px;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        text-align: left;
    }

    #footer .footer-content .footer-content-sections {
        margin: 0;
        padding: 0;
        display: block;
    }

    #footer .footer-content .footer-content-sections ul {
        padding: 0;
        margin-top: 16px;
        list-style-type: none;
    }

    #footer .footer-content .footer-content-timetables {
        margin: 0;
        padding: 0;
        display: block;
    }

    #footer .footer-content-bottom {
        padding: 0;
        margin-top: 60px;
        display: block;
    }

    #footer .footer-content-bottom a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 400;
        font-style: normal;
        font-size: 11px;
        letter-spacing: 0;
        line-height: 22px;
        margin-right: 20px;
    }
}

@media (min-width: 992px) {

    h1 {
        font-weight: 700;
        font-style: normal;
        font-size: 70px;
        color: #030303;
        letter-spacing: 0;
        text-align: center;
        line-height: 78px;
        margin-top: 140px;
        width: 672px;
        margin-right: auto;
        margin-left: auto;
    }

    h2 {
        font-weight: 400; 
        font-style: normal;
        font-size: 34px;
        color: #1f1f1f;
        letter-spacing: 0;
        text-align: center;
        margin-top: 60px;
        width: 641px;
        margin-right: auto;
        margin-left: auto;
    }

    h1.title {
        font-size: 40px;
        color: #030303;
        text-transform: capitalize;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 60px;
    }

    .container {
        max-width: 1440px;
    }

    .navbar {
        max-width: 1440px;
        height: 80px;
        padding-left: 34px;
        padding-right: 34px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar .navbar-nav.navbar-nav-smallest {
        display: none;
    }

    .navbar .navbar-nav.navbar-nav-biggest {
        display: block;
    }

    .row {
        padding-left: 34px;
        padding-right: 34px;
        margin: 0;
    }

    #gallery {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }

    #gallery .painting-container {
        width: calc(25% - 15px);
        background-color: #fff;
        margin-left: 0;
        padding-right: 0px;
        margin-bottom: 40px;
        float: left;
    }

    #gallery .gutter-sizer {
        width: 20px;
    }

    #gallery .painting-container .row {
        padding: 0;
        margin: 0;
    }

    #gallery .painting-container .row .painting-container-img {
        padding: 0;
        margin: 0;
        height: 100%;
        object-fit: cover;
    }

    #gallery .painting-container .row .painting-container-title {
        font-weight: 600; 
        font-style: normal;
        font-size: 14px;
        color: #1f1f1f;
        letter-spacing: 0;
        line-height: 15px;
        height: 15px;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    #gallery .painting-container .row .painting-container-year {
        font-weight: 400;
        font-style: italic;
        font-size: 14px;
        color: #1f1f1f;
        letter-spacing: 0;
        line-height: 15px;
        height: 15px;
        padding: 0;
        margin: 0;
        margin-top: 5px;
    }

    .showmore {
        margin-top: 20px;
    }

    #biography {
        margin: 0;
        padding: 0;
    }

    #biography .biography-container {
    }

    #biography .biography-container .biography-container-img {        
        float: left; 
        width: 540px; 
        height: 338px; 
        margin-right: 20px; 
        margin-bottom: 0px;
        color: #666666;
    }

    #biography .biography-container .biography-container-desc {
        font-size: 14px;
        color: #666666;
        letter-spacing: 0.3px;
        line-height: 18px;
        font-weight: 400;
        font-style: normal;

        width: 940px; 
        margin-left: auto;
        margin-right: auto;
    }

    #biography .biography-container .biography-container-desc a.readmore {
        position: absolute;
        bottom: 0px;

        font-size: 20px;
        color:#0030ff;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
    }

    #news {
        margin: 0;
        padding: 0;
    }

    #news .news-containers {
        margin-bottom: 60px;
    }

    #news .news-containers .news-container {
        width: 620px;
        height: 140px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #news .news-containers .news-container .news-container-left {
        float: left;
        width: 461px;
        margin-right: 19px;
    }

    #news .news-containers .news-container .news-container-right {
        display: block;
        float: left;
        width: 140px;
        height: 140px;
        background-color:#d8d8d8;
    }

    #news .news-containers .news-container .news-container-left .news-container-left-title {
        font-size: 22px;
        color: #1f1f1f;
        letter-spacing: 0;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 8px;
    }

    #news .news-containers .news-container .news-container-left .news-container-left-desc {
        font-size: 14px;
        color: #666;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.3px;
        line-height: 18px;
    }

    #news .news-containers .news-container .news-container-left .news-container-left-date {
        font-size: 14px;
        color: #666;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.3px;
        line-height: 18px;

        position: absolute;
        bottom: 0px;
    }

    #littleones {
        margin: 0;
        padding: 0;
    }

    #littleones .littleones-container {
    }

    #littleones .littleones-container .littleones-container-img {        
        float: right; 
        width: 540px; 
        height: 338px; 
        margin-left: 20px; 
        margin-bottom: 0px;
        color: #666666;
    }

    #littleones .littleones-container .littleones-container-desc {
        font-size: 14px;
        color: #666666;
        letter-spacing: 0.3px;
        line-height: 18px;
        font-weight: 400;
        font-style: normal;

        width: 940px; 
        margin-left: auto;
        margin-right: auto;
    }

    #littleones .littleones-container .littleones-container-desc a.readmore {
        position: absolute;
        bottom: 0px;

        font-size: 20px;
        color:#0030ff;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
    }

    #witnesses {
        margin: 0;
        padding: 0;
    }

    #witnesses .witnesses-container {
    }

    #witnesses .witnesses-container .witnesses-container-img {        
        float: left; 
        width: 540px; 
        height: 338px; 
        margin-right: 20px; 
        margin-bottom: 0px;
        color: #666666;
    }

    #witnesses .witnesses-container .witnesses-container-desc {
        font-size: 14px;
        color: #666666;
        letter-spacing: 0.3px;
        line-height: 18px;
        font-weight: 400;
        font-style: normal;

        width: 940px; 
        margin-left: auto;
        margin-right: auto;
    }

    #witnesses .witnesses-container .witnesses-container-desc a.readmore {
        position: absolute;
        bottom: 0px;

        font-size: 20px;
        color:#0030ff;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
    }

    #footer {
        background-color: #000;
        height: 375px;
        font-size: 16px;
        color: #fafafa;
        letter-spacing: 0;
        line-height: 22px;
        font-weight: 400;
        font-style: normal;
        margin-top: 200px;
        padding: 0px;
    }

    #footer .footer-content {
        width: 940px;
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #footer .footer-content ul li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px;
    }

    #footer .footer-content ul li a:hover {
        text-decoration: underline;
    }

    #footer .footer-content .footer-content-title {
        margin: 0;
        padding: 0;
        font-size: 15px;
        letter-spacing: 2.1px;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        text-align: left;
    }

    #footer .footer-content .footer-content-sections {
        margin: 0;
        padding: 0;
    }

    #footer .footer-content .footer-content-sections ul {
        padding: 0;
        margin-top: 16px;
        list-style-type: none;
    }

    #footer .footer-content .footer-content-timetables {
        margin: 0;
        padding: 0;
    }

    #footer .footer-content-bottom {
        padding: 0;
        margin-top: 60px;
    }

    #footer .footer-content-bottom a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 400;
        font-style: normal;
        font-size: 11px;
        letter-spacing: 0;
        line-height: 22px;
        margin-right: 20px;
    }
}

@media (min-width: 1440px) {

    h1 {
        font-weight: 700;
        font-style: normal;
        font-size: 70px;
        color: #030303;
        letter-spacing: 0;
        text-align: center;
        line-height: 78px;
        margin-top: 140px;
        width: 672px;
        margin-right: auto;
        margin-left: auto;
    }

    h2 {
        font-weight: 400; 
        font-style: normal;
        font-size: 34px;
        color: #1f1f1f;
        letter-spacing: 0;
        text-align: center;
        margin-top: 60px;
        width: 641px;
        margin-right: auto;
        margin-left: auto;
    }

    h1.title {
        font-size: 40px;
        color: #030303;
        text-transform: capitalize;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 60px;
    }

    .container {
        max-width: 1440px;
    }

    .navbar {
        max-width: 1440px;
        height: 80px;
        padding-left: 250px;
        padding-right: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar .navbar-nav.navbar-nav-smallest {
        display: none;
    }

    .navbar .navbar-nav.navbar-nav-biggest {
        display: block;
    }

    .row {
        padding-left: 250px;
        padding-right: 250px;
        margin: 0;
    }

    #gallery {
        padding: 0;
        margin-bottom: 40px;
    }

    #gallery .painting-container {
        width: calc(25% - 15px);
        background-color: #fff;
        margin-left: 0;
        padding-right: 0px;
        margin-bottom: 40px;
        float: left;
    }

    #gallery .gutter-sizer {
        width: 20px;
    }

    #gallery .painting-container .row {
        padding: 0;
        margin: 0;
    }

    #gallery .painting-container .row .painting-container-img {
        padding: 0;
        margin: 0;
        height: 100%;
        object-fit: cover;
    }

    #gallery .painting-container .row .painting-container-title {
        font-weight: 600; 
        font-style: normal;
        font-size: 14px;
        color: #1f1f1f;
        letter-spacing: 0;
        line-height: 15px;
        height: 15px;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    #gallery .painting-container .row .painting-container-year {
        font-weight: 400;
        font-style: italic;
        font-size: 14px;
        color: #1f1f1f;
        letter-spacing: 0;
        line-height: 15px;
        height: 15px;
        padding: 0;
        margin: 0;
        margin-top: 5px;
    }

    .showmore {
        margin-top: 20px;
    }

    #biography {
        margin: 0;
        padding: 0;
    }

    #biography .biography-container {
    }

    #biography .biography-container .biography-container-img {        
        float: left; 
        width: 540px; 
        height: 338px; 
        margin-right: 20px; 
        margin-bottom: 0px;
        color: #666666;
    }

    #biography .biography-container .biography-container-desc {
        font-size: 14px;
        color: #666666;
        letter-spacing: 0.3px;
        line-height: 18px;
        font-weight: 400;
        font-style: normal;

        width: 940px; 
        margin-left: auto;
        margin-right: auto;
    }

    #biography .biography-container .biography-container-desc a.readmore {
        position: absolute;
        bottom: 0px;

        font-size: 20px;
        color:#0030ff;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
    }

    #news {
        margin: 0;
        padding: 0;
    }

    #news .news-containers {
        margin-bottom: 60px;
    }

    #news .news-containers .news-container {
        width: 620px;
        height: 140px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #news .news-containers .news-container .news-container-left {
        float: left;
        width: 461px;
        margin-right: 19px;
    }

    #news .news-containers .news-container .news-container-right {
        display: block;
        float: left;
        width: 140px;
        height: 140px;
        background-color:#d8d8d8;
    }

    #news .news-containers .news-container .news-container-left .news-container-left-title {
        font-size: 22px;
        color: #1f1f1f;
        letter-spacing: 0;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 8px;
    }

    #news .news-containers .news-container .news-container-left .news-container-left-desc {
        font-size: 14px;
        color: #666;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.3px;
        line-height: 18px;
    }

    #news .news-containers .news-container .news-container-left .news-container-left-date {
        font-size: 14px;
        color: #666;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.3px;
        line-height: 18px;

        position: absolute;
        bottom: 0px;
    }

    #news .showmore {
        margin-top: 0px;
    }

    #littleones {
        margin: 0;
        padding: 0;
    }

    #littleones .littleones-container {
    }

    #littleones .littleones-container .littleones-container-img {        
        float: right; 
        width: 540px; 
        height: 338px; 
        margin-left: 20px; 
        margin-bottom: 0px;
        color: #666666;
    }

    #littleones .littleones-container .littleones-container-desc {
        font-size: 14px;
        color: #666666;
        letter-spacing: 0.3px;
        line-height: 18px;
        font-weight: 400;
        font-style: normal;

        width: 940px; 
        margin-left: auto;
        margin-right: auto;
    }

    #littleones .littleones-container .littleones-container-desc a.readmore {
        position: absolute;
        bottom: 0px;

        font-size: 20px;
        color:#0030ff;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
    }

    #witnesses {
        margin: 0;
        padding: 0;
    }

    #witnesses .witnesses-container {
    }

    #witnesses .witnesses-container .witnesses-container-img {        
        float: left; 
        width: 540px; 
        height: 338px; 
        margin-right: 20px; 
        margin-bottom: 0px;
        color: #666666;
    }

    #witnesses .witnesses-container .witnesses-container-desc {
        font-size: 14px;
        color: #666666;
        letter-spacing: 0.3px;
        line-height: 18px;
        font-weight: 400;
        font-style: normal;

        width: 940px; 
        margin-left: auto;
        margin-right: auto;
    }

    #witnesses .witnesses-container .witnesses-container-desc a.readmore {
        position: absolute;
        bottom: 0px;

        font-size: 20px;
        color:#0030ff;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
    }

    #footer {
        background-color: #000;
        height: 375px;
        font-size: 16px;
        color: #fafafa;
        letter-spacing: 0;
        line-height: 22px;
        font-weight: 400;
        font-style: normal;
        margin-top: 200px;
        padding: 0px;
    }

    #footer .footer-content {
        width: 940px;
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #footer .footer-content ul li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px;
    }

    #footer .footer-content ul li a:hover {
        text-decoration: underline;
    }

    #footer .footer-content .footer-content-title {
        margin: 0;
        padding: 0;
        font-size: 15px;
        letter-spacing: 2.1px;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        text-align: left;
    }

    #footer .footer-content .footer-content-sections {
        margin: 0;
        padding: 0;
    }

    #footer .footer-content .footer-content-sections ul {
        padding: 0;
        margin-top: 16px;
        list-style-type: none;
    }

    #footer .footer-content .footer-content-timetables {
        margin: 0;
        padding: 0;
    }

    #footer .footer-content-bottom {
        padding: 0;
        margin-top: 60px;
    }

    #footer .footer-content-bottom a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 400;
        font-style: normal;
        font-size: 11px;
        letter-spacing: 0;
        line-height: 22px;
        margin-right: 20px;
    }

}